In [3]:
import pandas as pd
import numpy as np

In [40]:
df = pd.read_csv('data/train.csv')

x = df[['PassengerId','Pclass','Sex','Age','SibSp','Fare','Embarked']]
y = df[['Survived']]
x.head()

   PassengerId  Pclass     Sex   Age  SibSp     Fare Embarked
0            1       3    male  22.0      1   7.2500        S
1            2       1  female  38.0      1  71.2833        C
2            3       3  female  26.0      0   7.9250        S
3            4       1  female  35.0      1  53.1000        S
4            5       3    male  35.0      0   8.0500        S

In [45]:
# x['Age'] = x['Age'].fillna(x['Age'].mean())
x['Embarked'] = x['Embarked'].fillna(x['Embarked'].mode())
# x.loc[x['Embarked'].isnull(), 'Embarked'] = x['Embarked'].mode()
x.isnull().sum()
# print(x['Embarked'].values)

/home/agl-android/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

PassengerId      0
Pclass           0
Sex              0
Age            177
SibSp            0
Fare             0
Embarked         2
dtype: int64