In [78]:
import pandas as pd
import numpy as np

In [164]:
df = pd.read_csv('data/train.csv')

x = df[['PassengerId','Pclass','Sex','Age','SibSp','Fare','Parch']]
y = df[['Survived']]

In [165]:
x.head()

   PassengerId  Pclass     Sex   Age  SibSp     Fare  Parch
0            1       3    male  22.0      1   7.2500      0
1            2       1  female  38.0      1  71.2833      0
2            3       3  female  26.0      0   7.9250      0
3            4       1  female  35.0      1  53.1000      0
4            5       3    male  35.0      0   8.0500      0

In [166]:
x.isnull().sum()

PassengerId      0
Pclass           0
Sex              0
Age            177
SibSp            0
Fare             0
Parch            0
dtype: int64

In [132]:
x.loc[:, 'Age'].fillna(x['Age'].mean(),inplace = True)

/home/agl-android/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [133]:
x['Sex'] = x['Sex'].map({'male':1,'female':0})

/home/agl-android/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [134]:
 

from sklearn.model_selection import train_test_split
xTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size=0.30)

from sklearn.preprocessing import StandardScaler  
scaler = StandardScaler()  
scaler.fit(xTrain)

xTrain = scaler.transform(xTrain) 
xTest = scaler.transform(xTest)

/home/agl-android/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/agl-android/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  # Remove the CWD from sys.path while we load stuff.
/home/agl-android/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  # This is added back by InteractiveShellApp.init_path()

In [144]:
from sklearn.neighbors import KNeighborsClassifier  
classifier = KNeighborsClassifier(n_neighbors=5)  
classifier.fit(xTrain, yTrain) 

yPred = classifier.predict(xTest)

/home/agl-android/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

In [192]:
from sklearn.metrics import classification_report, confusion_matrix , accuracy_score 
print(confusion_matrix(yTest, yPred))  
print(classification_report(yTest, yPred))  
print(accuracy_score(yTest, yPred))

[[139  32]
 [ 27  70]]
              precision    recall  f1-score   support

           0       0.84      0.81      0.82       171
           1       0.69      0.72      0.70        97

   micro avg       0.78      0.78      0.78       268
   macro avg       0.76      0.77      0.76       268
weighted avg       0.78      0.78      0.78       268

0.7798507462686567

In [194]:
dfTest = pd.read_csv('data/test.csv')

test = dfTest[['PassengerId','Pclass','Sex','Age','SibSp','Fare','Parch']]

test.loc[:, 'Age'].fillna(test['Age'].mean(),inplace = True)
test.loc[:, 'Fare'].fillna(test['Fare'].mean(),inplace = True)

test['Sex'] = test['Sex'].map({'male':1,'female':0})
test = scaler.transform(test)

testPred = classifier.predict(test)  

out = pd.DataFrame()
out['PassengerId'] = dfTest['PassengerId']
out['Survived'] = testPred
out.to_csv('data/submit.csv', index = None, header=True)

print(out)

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         0
5            897         0
6            898         0
7            899         0
8            900         0
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         0
19           911         1
20           912         1
21           913         0
22           914         1
23           915         1
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         1
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         1
405         1297         0
406         1298         0
407         1299         0
408         1300         0
409         1301         1
410         1302         0
411         1303         1
412         1304         0
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

/home/agl-android/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
/home/agl-android/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/agl-android/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  if __name__ == '__main__':